<div class="col-md-8">
    <span class="user">
        <%= image_tag(sender_id.avatar.url, width: "200", height: "200", class:"profileimg")%>
      <%= link_to "#{sender_id.first_name} #{sender_id.last_name}", message.sender_id %>
    </span>
        <span class="content">
        <%= message.msg_body %>
        </span>
  </div>
</br>
