<div id="msgform">
<%= form_with scope: :message, class:"chat_window", url: messages_create_path, remote: true do |form| %>

    <%= form.hidden_field :reciever_id, value: user_id %>
    <%= form.text_area :msg_body, class: 'form-control' %>
</br>
    <%= form.submit "Sent", class: "btn btn-primary" %>
<% end %>
</div>
