<% if user_signed_in? %>
    <div class ="row">
      <div class = "col-md-12 center">
        <% current_user.first_name ||= current_user.username  %>
        <h3>Welcome <%= "#{current_user.first_name} #{current_user.last_name}"  %> </h3>
        <h4>Find your friend</h4>
        <%= image_tag(current_user.avatar.url, width: "200", height: "200")%>
      </div>
    </div>
  </br>
  <% else %>
      <h2>E-chat is a platform of connect to your friends and family.</h2>
      <p>
      <br>
      <br>
        <%= link_to "Create Account", new_user_registration_path, class: "btn  btn-primary", id: "btnsignup" %>
      </p>
<% end %>
