<% if user_signed_in? %>
    <div class="row">
      <div class="col-md-9">
        <div class = "container">
          <div class ="row">
            <div class = "col-md-2">
              <h1>Welcome</h1>
              <p>Find your friend</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
  <% else %>
      <h2>E-chat is a platform of connect to your friends and family.</h2>
      <p>
      <br>
      <br>
        <%= link_to "Create Account", new_user_registration_path, class: "btn  btn-primary", id: "btnsignup" %>
      </p>

<% end %>
